body{
    background: #FFF;
}

.ngf-wizard2 {
    display: block;
    margin-bottom: 25px;
}

    .ngf-wizard2 ul {
        list-style: none;
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        table-layout: fixed;
        display: table;
        width: 100%;
    }

    .ngf-wizard2 li {
        background-color: #F1F1F1;
        display: inline-block;
        position: relative;
        margin-right: -7px;
        padding: 0;
        text-align: center;
        display: table-cell;
    }

        .ngf-wizard2 li::before,
        .ngf-wizard2 li::after {
            content: " ";
            position: absolute;
            z-index: 1;
            border: transparent;
            border-top-color: transparent;
            border-bottom: transparent;
            border-style: solid;
            border-bottom-color: transparent;
        }

        .ngf-wizard2 li::before {
            border-left-color: #fff;
            border-width: 30px;
            right: -60px;
            top: -5px;
        }

        .ngf-wizard2 li::after {
            border-left-color: #F1F1F1;
            border-width: 25px;
            right: -50px;
            top: 0px;
        }

        .ngf-wizard2 li.active a,
        .ngf-wizard2 li.active p,
        .ngf-wizard2 li.active label,
        .ngf-wizard2 li.valid a,
        .ngf-wizard2 li.valid p,
        .ngf-wizard2 li.valid label,
        .ngf-wizard2 li.invalid a,
        .ngf-wizard2 li.invalid p,
        .ngf-wizard2 li.invalid label {
            color: #fff;
        }

        /*.ngf-wizard2 li:last-child a {
            padding-right: 32px;
        }*/

        .ngf-wizard2 li a {
            padding: 6px 0;
            display: inline-block;
            text-align: left;
        }

        .ngf-wizard2 li:first-child a {
            padding-left: 10px;
        }

        .ngf-wizard2 li a > div {
            padding-left: 5px;
        }

        .ngf-wizard2 li a label,
        .ngf-wizard2 li a p {
            line-height: 14px;
            color: #686868;
            margin: 0;
        }

        .ngf-wizard2 li a p {
            font-size: 13px;
        }

        .ngf-wizard2 li i {
            font-size: 20px;
            border-radius: 50%;
            width: 34px;
            text-align: center;
            height: 34px;
            line-height: 34px;
            background: #D9D9D9;
            color: #777;
        }

        .ngf-wizard2 li.valid i,
        .ngf-wizard2 li.invalid i,
        .ngf-wizard2 li.active i {
            color: #fff;
        }

        .ngf-wizard2 li a i,
        .ngf-wizard2 li a div {
            float: left;
        }

        .ngf-wizard2 li:hover {
            background: #f5f5f5;
        }

        .ngf-wizard2 li:not(.active):not(.valid):not(.invalid).disabled a {
            opacity: 0.6;
        }

        .ngf-wizard2 li:hover::after {
            border-left-color: #f5f5f5;
        }

        .ngf-wizard2 li:hover i,
        .ngf-wizard2 li.disabled i {
            background: #E4E4E4;
        }

        .ngf-wizard2 li.active {
            background: #f39201;
        }

            .ngf-wizard2 li.active::after {
                border-left-color: #f39201;
            }

            .ngf-wizard2 li.active:hover,
            .ngf-wizard2 li.active.disabled {
                background: #fea929;
            }

                .ngf-wizard2 li.active:hover::after,
                .ngf-wizard2 li.active.disabled::after {
                    border-left-color: #fea929;
                }

                .ngf-wizard2 li.active:hover i,
                .ngf-wizard2 li.active.disabled i {
                    background: #f39201;
                }

        .ngf-wizard2 li.valid {
            background: #2980B9;
        }

            .ngf-wizard2 li.valid::after {
                border-left-color: #2980B9;
            }

            .ngf-wizard2 li.valid:hover,
            .ngf-wizard2 li.valid.disabled {
                background: #2e8ece;
            }

                .ngf-wizard2 li.valid:hover::after,
                .ngf-wizard2 li.valid.disabled::after {
                    border-left-color: #2e8ece;
                }

                .ngf-wizard2 li.valid:hover i,
                .ngf-wizard2 li.valid.disabled i {
                    background: #2980b9;
                }

        .ngf-wizard2 li.invalid {
            background: #ff6767;
        }

            .ngf-wizard2 li.invalid::after {
                border-left-color: #ff6767;
            }

        .ngf-wizard2 li:last-child::before,
        .ngf-wizard2 li:last-child::after {
            border-left-color: transparent;
        }

        .ngf-wizard2 li.active i {
            background: #da8301;
        }

        .ngf-wizard2 li.valid i {
            background: #1f648f;
        }

        .ngf-wizard2 li.invalid i {
            background: #ff8e84;
        }

        @media (max-width: 1023px) {
            .ngf-wizard2 li i {
                font-size: 16px;
                width: 28px;
                height: 28px;
                line-height: 28px;
            }

            .ngf-wizard2 li.active {
                width: 45%;
            }

            .ngf-wizard2 li a {
                margin-left: 25px;
            }

            .ngf-wizard2 li:not(.active) a div {
               display: none;
            }
            .ngf-wizard2 li:first-child a {
                padding-left: 10px;
                margin: 0;
            }
        }

        @media (max-width: 767px) {
            .ngf-wizard2 li:first-child a {
                padding-left: 10px;
                margin: 0;
            }
            .ngf-wizard2 li:not(:first-child) a {
                margin-left: 25px;
            }

            .ngf-wizard2 li.active {
                width: auto;
            }
            .ngf-wizard2 li a div {
                display: none;
            }

            .ngf-wizard2 li::after {
                border-left-color: #F1F1F1;
                border-width: 23px;
                right: -46px;
                top: 0px;
            }

            .ngf-wizard2 li::before {
                border-left-color: #fff;
                border-width: 30px;
                right: -60px;
                top: -7px;
            }

        }