﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-random"></i>
            Cadastro utilizando Componente Wizard

        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group" ngf-wizard passo="vm.passo">
            <ul>
                <li>
                    <a model="vm.formValid()" passo="vm.passo" data-toggle="tooltip" title="1. Passo" data-placement="bottom">
                        <i class="fa fa-exclamation"></i>
                        <div>
                            <label>1. Passo</label>
                            <p>Descrição passo 1</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tooltip" title="2. Passo" data-placement="top">
                        <i class="fa fa-wpforms"></i>
                        <div>
                            <label>2. Passo</label>
                            <p>Descrição passo 2</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tooltip" title="3. Passo" data-placement="top">
                        <i class="fa fa-check"></i>
                        <div>
                            <label>3. Passo</label>
                            <p>Descrição passo 3</p>
                        </div>
                    </a>
                </li>
                 <li>
                    <a data-toggle="tooltip" title="4. Passo" data-placement="top">
                        <i class="fa fa-check"></i>
                        <div>
                            <label>4. Passo</label>
                            <p>Descrição passo 4</p>
                        </div>
                    </a>
                </li>
            </ul>
            <h2 class="visibled-xs-block">{{vm.wizardTitle}}</h2>
            <p class="visibled-xs-block">{{vm.wizardDescr}}</p>
        </div>

        <div id="tab-situacao" class="min-height-wizard" ng-show="vm.passo == 1">
            <form name="vm.form">
                <div class="row grid-view">
                   <div class="alert alert-info">
                    <i class="fa fa-exclamation-circle"></i>
                       Primeiro Passo
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" mostrar-erros>
                        <div class="form-group">
                            <label class="control-label">Número</label>
                            <input type="text" name="numero" ng-model="vm.Campo.Numero" class="form-control" required placeholder="Número">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="tab-formulario" ng-show="vm.passo == 2">
            <div class="row grid-view">
               <div class="alert alert-info">
                    <i class="fa fa-exclamation-circle"></i>
                   Segundo Passo
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" mostrar-erros>
                    <div class="form-group">
                        <label class="control-label">Nome </label>
                        <input type="text" name="nomeLista" ng-model="vm.Nome" class="form-control" required placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-6" mostrar-erros>
                    <div class="form-group">
                        <label class="control-label">Sobrenome </label>
                        <input type="text" name="nomeLista" ng-model="vm.Nome" class="form-control" required placeholder="Nome">
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-preview" class="min-height-wizard" ng-show="vm.passo == 3">
            <div class="row grid-view">
               <div class="alert alert-info">
                    <i class="fa fa-exclamation-circle"></i>
                   Terceiro Passo
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-click="vm.passoAnterior()"
                        ng-disabled="vm.passo == 1"
                        disabled="disabled">
                    <i class="fa fa-angle-double-left "></i> Passo Anterior
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="vm.proximoPasso()"
                        ng-disabled="vm.passo == 3 || vm.form.$invalid"
                        ng-class="{'btn-primary' : vm.passo != 3}">
                    Próximo Passo <i class="fa fa-angle-double-right"></i>
                </button>

                <button class="btn btn-primary" type="button"
                        ng-if="vm.passo == 3"
                        ng-disabled="vm.Campo.$invalid"
                        ng-click="vm.salvarImplementacao()">
                    <i class="fa fa-check"></i>
                    Salvar Implementação
                </button>

                <button class="btn btn-default" type="button"
                        ng-click="vm.limpar()">
                    <i class="fa fa-eraser"></i>
                    Limpar
                </button>

                <button ui-sref="implementacao.pesquisa" class="btn btn-default" type="button">
                    <i class="fa fa-close"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>